In [1]:
! pip install PyMySQL
! pip install ipython-sql
! pip install mysqlclient

Requirement already satisfied: PyMySQL in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (1.1.0)
Requirement already satisfied: ipython-sql in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: ipython in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (8.14.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (2.0.19)
Requirement already satisfied: sqlparse in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: backcall in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: colorama in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: mysqlclient in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (2.2.0)

In [2]:
!pip install pymysql
!pip install psycopg2

Requirement already satisfied: pymysql in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (1.1.0)
Requirement already satisfied: psycopg2 in c:\users\user pc\appdata\local\programs\python\python311\lib\site-packages (2.9.6)

### 1.Importing modules that interact with the database.

In [3]:
import sqlalchemy
import pandas as pd
import psycopg2

### 2.Create an engine that connects to the database.

In [4]:
engine = sqlalchemy.create_engine("postgresql://postgres:Candidcoco@20@localhost:5432/postgres")

### 3. Load sql extension.

In [5]:
%load_ext sql

### 4. Establish the connection.

In [6]:
%sql $engine.url

'Connected: postgres@postgres'

### 4. Querying tables from the database.

In [7]:
%sql SELECT id, name, buying_price, selling_price, quantity from products

 * postgresql://postgres:***@localhost:5432/postgres
45 rows affected.

[(1, 'sweet', Decimal('70.00'), Decimal('80.00'), 300),
 (3, 'pineapple', Decimal('70.00'), Decimal('200.00'), 5),
 (4, 'biscuit', Decimal('60.00'), Decimal('80.00'), 7),
 (5, 'popcorn', Decimal('50.00'), Decimal('50.00'), 30),
 (2, 'cake', Decimal('10.00'), Decimal('20.00'), 100),
 (6, 'Lettuce', Decimal('40.00'), Decimal('50.00'), 50),
 (8, 'waffles', Decimal('25.00'), Decimal('40.00'), 10),
 (7, 'broccoli', Decimal('40.00'), Decimal('60.00'), 100),
 (9, 'Wheat', Decimal('40.00'), Decimal('60.00'), 100),
 (10, 'coffee', Decimal('50.00'), Decimal('60.00'), 70),
 (11, 'juice', Decimal('50.00'), Decimal('60.00'), 600),
 (12, 'pencil', Decimal('5.00'), Decimal('10.00'), 200),
 (13, 'bread', Decimal('50.00'), Decimal('55.00'), 50),
 (14, 'milk', Decimal('45.00'), Decimal('50.00'), 70),
 (15, 'coconut', Decimal('60.00'), Decimal('65.00'), 80),
 (16, 'Quail - Whole, Bone - In', Decimal('638.40'), Decimal('369.00'), 411),
 (17, 'Wine - Pinot Grigio Collavini', Decimal('672.00'), Decimal('209.00'), 315),
 (18, 'Dooleys Toffee', Decimal('417.20'), Decimal('206.00'), 263),
 (19, 'Daves Island Stinger', Decimal('100.80'), Decimal('146.00'), 86),
 (20, 'Wine - Maipo Valle Cabernet', Decimal('698.60'), Decimal('120.00'), 175),
 (21, 'Wine - Savigny - Les - Beaune', Decimal('266.00'), Decimal('123.00'), 128),
 (22, 'Praline Paste', Decimal('82.60'), Decimal('105.00'), 215),
 (23, 'Wine - Cotes Du Rhone', Decimal('12.60'), Decimal('433.00'), 60),
 (24, 'Turkey - Breast, Bone - In', Decimal('102.20'), Decimal('204.00'), 288),
 (25, 'Appetizer - Mushroom Tart', Decimal('555.80'), Decimal('27.00'), 438),
 (26, 'Tomatoes - Plum, Canned', Decimal('161.00'), Decimal('297.00'), 318),
 (27, 'Island Oasis - Peach Daiquiri', Decimal('680.40'), Decimal('380.00'), 263),
 (28, 'Shrimp - 150 - 250', Decimal('298.20'), Decimal('463.00'), 45),
 (29, 'Chicken - Whole Roasting', Decimal('338.80'), Decimal('10.00'), 170),
 (30, 'Wine - Beringer Founders Estate', Decimal('392.00'), Decimal('35.00'), 171),
 (31, 'Capon - Breast, Double, Wing On', Decimal('508.20'), Decimal('289.00'), 95),
 (32, 'Wine - White Cab Sauv.on', Decimal('639.80'), Decimal('292.00'), 55),
 (33, 'Bread - Sticks, Thin, Plain', Decimal('187.60'), Decimal('57.00'), 371),
 (34, 'Snapple - Mango Maddness', Decimal('555.80'), Decimal('199.00'), 86),
 (35, 'Oranges - Navel, 72', Decimal('56.00'), Decimal('496.00'), 354),
 (36, 'Soda Water - Club Soda, 355 Ml', Decimal('198.80'), Decimal('357.00'), 339),
 (37, 'Juice - V8, Tomato', Decimal('239.40'), Decimal('476.00'), 485),
 (38, 'Ocean Spray - Ruby Red', Decimal('299.60'), Decimal('150.00'), 283),
 (39, 'Cheese - Brie,danish', Decimal('614.60'), Decimal('28.00'), 176),
 (40, 'Lamb - Leg, Boneless', Decimal('70.00'), Decimal('333.00'), 383),
 (41, 'Silicone Parch. 16.3x24.3', Decimal('637.00'), Decimal('73.00'), 298),
 (42, 'External Supplier', Decimal('597.80'), Decimal('259.00'), 300),
 (43, 'Basil - Seedlings Cookstown', Decimal('637.00'), Decimal('451.00'), 336),
 (44, 'Soup - French Onion, Dry', Decimal('383.60'), Decimal('225.00'), 120),
 (45, 'Garam Marsala', Decimal('77.00'), Decimal('190.00'), 114)]

In [8]:
df = pd.DataFrame(columns=['sales_id','product_name','buying_price','selling_price','quantity','created_at'])

df.set_index('sales_id',inplace=False,verify_integrity=False)

Empty DataFrame
Columns: [product_name, buying_price, selling_price, quantity, created_at]
Index: []