### 1.Importing modules that interact with the database.

In [44]:
from sqlalchemy import create_engine
import pandas as pd
import psycopg2

In [45]:
#if __name__ == '__main__':

#     engine = create_engine('postgresql://postgres:Candidcoco@20@localhost:5432/myduka')
#     conn = engine.connect()

#     query_string = "SELECT sales.id as sales_id, name as product_name, buying_price, selling_price, sales.quantity as sales_quantity, created_at as sales_created_at from products, sales WHERE products.id = sales.pid"
#     df1 = pd.read_sql(query_string, conn)
#     print(df1.to_string())
#     conn.close()
#     print('Database connection closed.')

### 2.Create a connection to the database.

In [50]:
engine = sqlalchemy.create_engine("postgresql://postgres:Candidcoco@20@localhost:5432/myduka")

### 3.Load sql extension.

In [51]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### 4.Establish the connection.

In [58]:
%sql $engine.url

(psycopg2.OperationalError) server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

(Background on this error at: http://sqlalche.me/e/13/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [53]:
columns=['sales_id','product_name','buying_price','selling_price','sales_quantity','sales_created_at']
df = pd.DataFrame(columns=columns)

### 5.Querying tables from the database.

In [54]:
data_to_insert = %sql SELECT sales.id as sales_id, name as product_name, buying_price, selling_price, sales.quantity as sales_quantity, created_at as sales_created_at from products, sales WHERE products.id = sales.pid
for row_data in data_to_insert:
    df.loc[len(df)] = row_data
df.set_index('sales_id',inplace=True,verify_integrity=False)

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

TypeError: 'NoneType' object is not iterable

In [55]:
df.shape

(0, 6)

In [56]:
new_df = df.append(df)
new_df.shape

(0, 6)

### 6. Removing duplicates.

In [33]:
new_df = df.drop_duplicates()
new_df.shape

(0, 6)

### 8. Summary Statistics.

In [ ]:
df

In [ ]:
df.count('sales_id')

In [ ]:
new_column = %sql ALTER TABLE products  ADD profit int

In [ ]:
values = %sql INSERT INTO products(profit) SELECT selling_price - buying_price * sales.quantity as sales_quantity FROM  products,sales
for i in values:
    df.loc[len(df)] = i
df.update(new_column,values)