### 1.Importing modules that interact with the database.

In [1]:
import psycopg2
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
conn = psycopg2.connect("dbname=myduka user=postgres password=Candidcoco@20")

In [4]:
df = pd.read_sql_query("SELECT sales.id as sales_id, product_name, buying_price, selling_price, sales.quantity as sales_quantity, created_at as sales_created_at FROM products,sales WHERE products.id = sales.pid", conn)

### 2.Set column index

In [5]:
df.set_index('sales_id', inplace=True,verify_integrity=False)

### 3.Checking data types.

In [6]:
df.dtypes

product_name                object
buying_price                 int64
selling_price                int64
sales_quantity               int64
sales_created_at    datetime64[ns]
dtype: object

### 4.Cleaning up columns to follow programming naming.

In [7]:
df.columns.to_list()

['product_name',
 'buying_price',
 'selling_price',
 'sales_quantity',
 'sales_created_at']

### 5.Removing duplicates

In [8]:
df.shape

(50, 5)

In [9]:
new_df = df.append(df)
new_df.shape

(100, 5)

In [10]:
new_df = df.drop_duplicates()
new_df.shape

(50, 5)

### 6.Cleaning up columns.

In [11]:
df.columns.map(str.lower,na_action='ignore')

Index(['product_name', 'buying_price', 'selling_price', 'sales_quantity',
       'sales_created_at'],
      dtype='object')

### 7.Dealing with null values.

### 8.Summary statistics.

In [12]:
df.corr()

                buying_price  selling_price  sales_quantity
buying_price        1.000000      -0.063809        0.072640
selling_price      -0.063809       1.000000        0.124686
sales_quantity      0.072640       0.124686        1.000000

### 9. Creating new columns.

In [13]:
df['profit'] = df['selling_price'] - df['buying_price'] * df['sales_quantity']

In [14]:
df.head(15)

,product_name,buying_price,selling_price,sales_quantity,sales_created_at,profit
sales_id,,,,,,
1,Vinegar - Tarragon,65,21,23,2022-11-13,-1474
2,Cloves - Whole,33,75,12,2022-08-31,-321
3,"Pail - 15l White, With Handle",47,10,92,2022-12-29,-4314
4,"Chocolate - Pistoles, Lactee, Milk",75,37,17,2023-04-08,-1238
5,Cassis,16,82,100,2023-05-25,-1518
6,Sage Derby,11,18,85,2023-04-16,-917
7,Nantucket - Pomegranate Pear,53,25,58,2022-08-25,-3049
8,Carbonated Water - Raspberry,84,11,87,2023-03-05,-7297
9,Milkettes - 2%,25,32,35,2023-01-12,-843
10,Apple - Fuji,32,69,66,2023-04-26,-2043
11,"Soup - Campbells, Spinach Crm",51,45,54,2023-04-24,-2709
12,Water - Spring Water 500ml,54,23,84,2023-05-08,-4513
13,"Crab - Dungeness, Whole",90,31,51,2022-08-30,-4559
14,Dasheen,14,32,3,2023-02-17,-10
15,Vinegar - Champagne,71,64,41,2023-01-31,-2847