### 1.Importing modules that interact with the database.

In [17]:
import pandas as pd
import psycopg2

In [18]:
import warnings
warnings.filterwarnings('ignore')

In [19]:
conn = psycopg2.connect("dbname=myduka user=postgres password=Candidcoco@20")

In [20]:
df = pd.read_sql_query("SELECT sales.id as sales_id, product_name, buying_price, selling_price, sales.quantity as sales_quantity, created_at as sales_created_at from products, sales WHERE products.id = sales.pid", conn)

### 2. Setting Column index

In [21]:
df.set_index('sales_id',inplace=True,verify_integrity=False)

### 3.Checking data types

In [22]:
df.dtypes

product_name                object
buying_price                 int64
selling_price                int64
sales_quantity               int64
sales_created_at    datetime64[ns]
dtype: object

### 4.Cleaning up columns to follow programming naming.

In [23]:
df.columns.to_list()

['product_name',
 'buying_price',
 'selling_price',
 'sales_quantity',
 'sales_created_at']

### 5. Removing duplicates.

In [30]:
df.shape

(50, 5)

In [31]:
new_df = df.append(df)
new_df.shape

(100, 5)

In [32]:
new_df = df.drop_duplicates()
new_df.shape

(50, 5)

### 6.Dealing with null values.

### 7. Summary Statistics.

In [35]:
profit = pd.read_sql_query("ALTER TABLE products ADD COLUMN profit int",conn)
df = df.assign(profit=profit)

DatabaseError: Execution failed on sql 'ALTER TABLE products ADD COLUMN profit int': column "profit" of relation "products" already exists

In [34]:
profit_values = [pd.read_sql_query("UPDATE products SET profit = (selling_price - buying_price) * sales.quantity FROM sales",conn)]

TypeError: 'NoneType' object is not iterable

In [13]:
df

,product_name,buying_price,selling_price,sales_quantity,sales_created_at
sales_id,,,,,
1,Vinegar - Tarragon,65,21,23,2022-11-13
2,Cloves - Whole,33,75,12,2022-08-31
3,"Pail - 15l White, With Handle",47,10,92,2022-12-29
4,"Chocolate - Pistoles, Lactee, Milk",75,37,17,2023-04-08
5,Cassis,16,82,100,2023-05-25
6,Sage Derby,11,18,85,2023-04-16
7,Nantucket - Pomegranate Pear,53,25,58,2022-08-25
8,Carbonated Water - Raspberry,84,11,87,2023-03-05
9,Milkettes - 2%,25,32,35,2023-01-12
10,Apple - Fuji,32,69,66,2023-04-26
11,"Soup - Campbells, Spinach Crm",51,45,54,2023-04-24
12,Water - Spring Water 500ml,54,23,84,2023-05-08
13,"Crab - Dungeness, Whole",90,31,51,2022-08-30
14,Dasheen,14,32,3,2023-02-17
15,Vinegar - Champagne,71,64,41,2023-01-31
16,Cookies Cereal Nut,59,66,69,2023-07-27
17,"Yogurt - Banana, 175 Gr",87,76,80,2023-07-02
18,Apples - Sliced / Wedge,95,85,36,2023-03-11
19,Pastry - Key Limepoppy Seed Tea,36,69,87,2023-07-26
20,Crab - Soft Shell,6,42,19,2023-07-05
21,Creme De Menthe Green,42,100,76,2022-12-30
22,Pastry - Apple Muffins - Mini,14,57,59,2022-11-04
23,Fiddlehead - Frozen,73,34,88,2023-02-04
24,Leeks - Large,34,37,81,2023-06-13
25,Wine - Ruffino Chianti,55,17,46,2023-07-03
26,Temperature Recording Station,47,16,70,2023-06-18
27,"Bread - Rolls, Rye",6,72,87,2023-07-21
28,Chicken Thigh - Bone Out,14,57,11,2023-02-10
29,Soup - Campbells,24,46,77,2022-08-16
30,Beef - Rib Eye Aaa,49,97,24,2022-10-05
31,Veal - Heart,78,99,42,2023-07-08
32,Calypso - Lemonade,35,60,45,2023-07-27
33,Bagel - 12 Grain Preslice,14,23,18,2023-03-26
34,Wiberg Super Cure,20,67,100,2023-06-22
35,Beef - Flank Steak,44,9,4,2023-04-12
36,Beef - Prime Rib Aaa,69,62,99,2023-06-26
37,"Butter - Salted, Micro",26,74,57,2023-03-14
38,Mushroom - Portebello,5,76,75,2023-01-17
39,Chips - Potato Jalapeno,88,3,47,2022-09-20
40,Dc Hikiage Hira Huba,49,93,74,2023-04-24
41,"Wine - White, Schroder And Schyl",34,47,70,2022-12-09
42,Contreau,28,80,28,2022-11-12
43,Bread Ww Cluster,44,62,98,2023-03-05
44,Nantucket - Carrot Orange,32,75,13,2023-01-08
45,Pastry - Apple Large,28,84,85,2022-12-24
46,Wine - Ruffino Chianti Classico,100,76,88,2022-09-12
47,Bag - Clear 7 Lb,10,6,58,2022-11-27
48,Wine La Vielle Ferme Cote Du,36,94,90,2023-03-31
49,"Bread - Pita, Mini",43,92,54,2023-05-13
50,Nori Sea Weed - Gold Label,90,33,69,2023-06-05